html,
body {
  min-height: 100vh;
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(244, 144, 144);
  margin: 0;
}

.carousel-root .carousel .thumb.selected,
.carousel-root .carousel .thumb:hover {
  border: 3px solid rgb(244, 144, 144);
  border-radius: 50%;
}

.background {
  min-height: 100vh;
  background-color: rgb(244, 144, 144);
  margin: 0;
}

button:hover {
  background-color: rgb(234, 26, 6);
}
@font-face {
  font-family: titleFont;
  src: url("/src/Fonts/heavenlyFont.otf");
}

img {
  border-radius: 50%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-btns {
  margin-top: 1rem;
}

#icon {
  width: 50px;
  height: 50px;
}
#icon-about,
#icon {
  color: rgb(244, 144, 144);
  padding-left: 10px;
  padding-right: 10px;
}

#icon-about {
  width: 30px;
  height: 30px;
  padding-top: 10px;
}

#icon:hover,
#icon-about:hover {
  color: rgb(234, 26, 6);
  /* transform: scale(1.2); */
}
#logo {
  height: 350px;
  width: 350px;
}

h1,
h2 {
  font-family: titleFont;
}

h2 {
  color: rgb(244, 144, 144);
}

p,
h1,
h3 {
  color: rgb(40, 80, 55);
}

#home-title {
  font-size: 4.5rem;
  margin: 0;
}

h1,
.home-text,
h2,
li {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.19);
}
h2 {
  font-size: 3rem;
}
p {
  font-family: Georgia;
}
.home-wrapper {
  display: block;
  background-color: rgb(255, 255, 255);
  margin-top: 2%;
  width: 90vw;
  margin: auto;
  margin-top: 2.5%;
  border-radius: 1%;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.home {
  display: grid;
  grid-template-areas:
    "hTitle hImg"
    "hContact hImg"
    "hText hImg"
    "hBtn hImg";
  grid-template-rows: 110px 80px 90px;
  grid-template-columns: 600px 400px;
  text-align: center;
}

.home-title {
  grid-area: hTitle;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.home-img {
  grid-area: hImg;
  animation-name: spin;
  animation-iteration-count: initial;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(0.2);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}
.home-text {
  grid-area: hText;
  font-size: 1.5rem;
}
.home-btn {
  grid-area: hBtn;
}

button {
  height: 2rem;
  border-radius: 5%;
  background-color: rgb(244, 144, 144);
  color: rgb(255, 255, 255);
  border-color: rgb(244, 144, 144);
}
.home-contact {
  grid-area: hContact;
}
.about-container {
  display: grid;
  grid-template-areas: "about newsletter";
  min-height: 80vh;
}

.about {
  grid-area: about;
}
.about,
.newsletter {
  text-align: center;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.newsletter {
  grid-area: newsletter;
}
#newsletter button {
  margin-left: 30px;
}

#newsletter {
  padding-top: 20px;
}

#newsletter-text {
  padding-top: 10px;
}
input {
  height: 25px;
  border-width: 2px;
  border-color: rgb(244, 144, 144);
  width: 30%;
  text-align: center;
  color: rgb(40, 80, 55);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

input:focus {
  outline: none !important;
  border: 2px solid rgb(234, 26, 6);
}

#sold-out {
  color: rgb(234, 26, 6);
}

#nav {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  /*Overriding css*/
}
.nav {
  height: fit-content;
  width: 100vw;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(244, 144, 144, 0.5);
}

.nav ul {
  margin: 0 auto;
  text-align: center;
}

.nav li {
  display: inline-block;
  line-height: 40px;
  padding: 0px 15px;
  /* margin: 0 auto; */
  padding-top: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

img {
  transition: transform 0.2s;
}

img:hover {
  transform: scale(1.2);
}

.nav li:hover,
a h3:hover,
a p:hover {
  color: rgb(234, 26, 6);
}

.bakery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 90vh;
  max-height: 100%;
  border-radius: 1%;
  margin-bottom: 30px;
}

.home-wrapper,
.container,
#logo,
#bakery-img,
#beverage-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.control-arrow {
  display: none;
}

.beverages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bakery-preview,
.beverage-preview {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 275px;
  margin: 25px;
}
#bakery-img,
#beverage-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1,
p,
h2,
h3 {
  text-align: center;
}

h2 {
  margin: 0;
  padding-top: 50px;
}

.bakery-info-div {
  width: 90%;
  display: grid;
  grid-template-areas:
    "iName iName"
    "iImg iDesc"
    "iImg iMl"
    "iImg iPrice"
    "iImg iAvail";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 125px 90px 50px 50px;
}

.info-name {
  grid-area: iName;
}
.info-desc {
  grid-area: iDesc;
  padding-bottom: 10px;
  width: 80%;
}
#info-desc,
#info-price,
#info-ml,
#info-avail {
  text-align: start;
}
.info-ml {
  grid-area: iMl;
}
.info-price {
  grid-area: iPrice;
}
.info-avail {
  grid-area: iAvail;
}
.info-img {
  grid-area: iImg;
  display: block;
  margin-left: auto;
  margin-right: 50px;
}

.price,
.price-full-info {
  display: inline-flex;
}

.price {
  width: 100%;
  justify-content: center;
}

.carousel-root {
  width: 275px;
}

.carousel-status {
  background-color: rgb(244, 144, 144);
}

.carousel-root .carousel .thumbs-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

@media (max-width: 1100px) {
  #home-title {
    font-size: 3.5rem;
    padding-top: 40px;
  }
  .home-img {
    margin-top: 40px;
  }
  .home-text {
    font-size: 1.2rem;
  }
  #icon {
    width: 45px;
    height: 45px;
  }
  .home {
    grid-template-rows: 110px 80px 70px;
    grid-template-columns: 500px 300px;
  }
  #logo {
    height: 275px;
    width: 275px;
  }
  .info-desc {
    
    width: 90%;
  }
}

@media (max-width: 880px) {
  #home-title {
    padding-top: 40px;
  }
  .home-img {
    margin-top: 0px;
  }
  .home {
    grid-template-areas:
      "hTitle"
      "hImg"
      "hText"
      "hBtn"
      "hContact";
    grid-template-rows: 130px 280px 60px 40px;
    grid-template-columns: 600px;
    text-align: center;
  }
  #icon {
    width: 35px;
    height: 35px;
    padding-bottom: 50px;
  }
  .home-container {
    min-height: 93vh;
  }
  .about-container {
    grid-template-areas: "newsletter" "about";
  }
  .bakery-info-div {
    grid-template-columns: 1fr 1fr;
  }
  .carousel-root {
    width: 250px;
  }
}

@media (max-width: 650px) {
  .bakery-info-div {
    grid-template-areas:
      "iName iName"
      "iImg iImg"
      "iAvail iAvail"
      "iPrice iMl"
      "iDesc iDesc";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    width: 80%;
  }
  #info-desc,
  #info-price,
  #info-ml,
  #info-avail {
    text-align: center;
  }

  #info-ml,
  #info-price {
    font-weight: bold;
  }

  #info-desc{
    margin-bottom: 50px;
  }
}

@media (max-width: 420px) {
  #home-title {
    font-size: 2rem;
  }
  .home-text {
    font-size: 1rem;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #logo {
    width: 225px;
    height: 225px;
  }
  .home {
    grid-template-rows: 100px 240px 70px 40px;
  }

  #home-btn {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  input {
    width: 40%;
  }
}
